@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: auto;
  }

  .column-half {
    width: 50%;
  }

  /* .pokemon-card {
    margin-right: 20px;
    margin-left: 20px;
  } */
}

@media (orientation: landscape) {
  footer {
    display: none;
  }
}

@media (orientation: portrait) {
  .search-link {
    display: none;
  }

  .column-half {
    width: 100%;
  }
}
