@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: auto;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

@media (orientation: landscape) {
  footer {
    display: none;
  }
}

@media (orientation: portrait) {
  .search-link {
    display: none;
  }
}
